networks:
  qrcodeapp:

services:
  sqll-db:
    container_name: qrcode-db
    image: mcr.microsoft.com/azure-sql-edge:2.0.0
    ports:
      - 1433:1433
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=password@1222345
    networks:
      - qrcodeapp
    # mem_limit: 700m

  qrcodeapp:
    container_name: qrcode-app
    image: qrcodeapp:mssql
    ports:
      - 8201:8080    # 8201 localhost
    env_file:
      - ./.env
    depends_on:
      - sqll-db
    networks:
      - qrcodeapp
    # mem_limit: 250m
