{{- with .Values.Ingress }}
apiVersion: networking.k8s.io/v1
kind: Ingress 
metadata:
  name: {{ .IngressName }}
  annotations:
    "helm.sh/hook-weight": "5"
spec:
  ingressClassName: nginx
  rules:
    - host: {{ .HostName }}
      {{- end }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service: 
              {{- with .Values.Service }}
                name: {{ .ServiceName }}
                port:
                  number: {{ .ServicePort }}
              {{- end }}
                  